<!DOCTYPE html>
<!-- Navigation bar, image background, and button inspiration from www.codingnepalweb.com -->
<!--Ltr signifying ltr, which is necessary in bottom of CSS file-->
<html lang="en" dir="ltr">
  <head>
    <!--Character and font sets required for my visual display-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/ttdne.css">
    <!--The succeeding line is necessary for the "Poppins" font that I use -->
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <nav>
      <a class="logo" href=".">This Text Does Not Exist</a>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a {% block navactive1 %}{% endblock %} href="randomgen">Random Generation</a></li>
        <li><a {% block navactive2 %}{% endblock %} href="storygen">Story Generation</a></li>
        <li><a {% block navactive3 %}{% endblock %} href="qnagen">Q & A Generation</a></li>
        <li><a {% block navactive4 %}{% endblock %} href="word-embeddings">Word Embeddings</a></li>
        <li><a {% block navactive5 %}{% endblock %} href="#">About</a></li>
        <li><a {% block navactive6 %}{% endblock %} href="#">Source Code</a></li>
        <li><a {% block navactive7 %}{% endblock %} href="#">Preferences</a></li>
      </ul>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
