<!DOCTYPE html>
<!-- Navigation bar, image background, and button inspiration from www.codingnepalweb.com -->
<!--Ltr signifying ltr, which is necessary in bottom of CSS file-->
<html lang="en" dir="ltr">
  <head>
    <!--Character and font sets required for my visual display-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/ttdne.css">
    <!--The succeeding line is necessary for the "Poppins" font that I use -->
    <title>TTDNE</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <nav>
      <div class="logo">
      This Text Does Not Exist
      </div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="topic">Random Generation</a></li>
        <li><a class="active" href="custom">Custom Generation</a></li>
        <li><a href="embeddings">Word Embeddings</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Source Code</a></li>
        <li><a href="#">Preferences</a></li>
      </ul>
    </nav>
    <div class="boxed-form">
      <form action="custom" method="POST">
        <label for="seed">Seed: </label>
        <input type="text" name="seed">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="boxed">
      {{ generated }}
    </div>
    <a class="btn" href="/custom">
      <span>Regenerate</span>
    </a>
  </body>
</html>
