{% extends "base.html" %}

{% block title %}
Word Embeddings
{% endblock %}

{% block navlist %}
<li><a href=".">Random Generation</a></li>
<li><a href="qna">Q & A Generation</a></li>
<li><a class="active" href="embeddings">Word Embeddings</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Source Code</a></li>
<li><a href="#">Preferences</a></li>
{% endblock %}


<!--Start Editing Below Here:-->

{% block body %}
<form method="POST" action="embeddings">
  <input type="text" placeholder="Type your word here" name="targetWord" required>
  <br>
  <input type="submit" value="Go">
</form>

<!--Outputs-->
{{positiveWords}}
{{negativeWords}}
{{similarityScore}}

<div class="boxed">
  Enclosed text goes here! The quick brown fox jumps over the lazy dog.
</div>
<a class="btn" href="/">
  <span>Regenerate</span>
</a>
{% endblock %}
