{% extends "base.html" %}

{% block title %}
Word Embeddings
{% endblock %}

{% block navlist %}
<li><a href=".">Random Generation</a></li>
<li><a href="qna">Q & A Generation</a></li>
<li><a class="active" href="embeddings">Word Embeddings</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Source Code</a></li>
<li><a href="#">Preferences</a></li>
{% endblock %}


<!--Start Editing Below Here:-->

{% block body %}


<div class="boxed-form">
  <form action="embeddings" method="POST">
    <label for="seed">Target Word: </label>
    <input type="text" name="targetWord">
    <input type="submit" value="Go">
  </form>
</div>
<!--Outputs-->
<div class="boxed">
  {{positiveWords}}
  {{negativeWords}}
  {{similarityScore}}
  
</div>
<a class="btn" href="/">
  <span>Regenerate</span>
</a>
{% endblock %}
