{% extends "base.html" %}

{% block title %}
Topic-Based Generation
{% endblock %}

{% block navlist %}
<li><a href=".">Random Generation</a></li>
<li><a class="active" href="qna">Q & A Generation</a></li>
<li><a href="embeddings">Word Embeddings</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Source Code</a></li>
<li><a href="#">Preferences</a></li>
{% endblock %}

{% block body %}
<div class="boxed">
  Enclosed text goes here! The quick brown fox jumps over the lazy dog.
</div>
<a class="btn" href="/">
  <span>Regenerate</span>
</a>
{% endblock %}