{% extends "base.html" %}

{% block title %}
Word Embeddings
{% endblock %}

{% block navactive4 %}
class="active"
{% endblock %}


<!--Start Editing Below Here:-->

{% block body %}


<div class="boxed-form">
  <form action="embeddings" method="POST">
    <label for="seed">Target Word: </label>
    <input type="text" name="targetWord">
    <input type="submit" value="Go">
  </form>
</div>
<!--Outputs-->
<div class="boxed">
  {{positiveWords}}
  {{negativeWords}}
  {{similarityScore}}
  
</div>
<a class="btn" href="/">
  <span>Regenerate</span>
</a>
{% endblock %}
