<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/auxoCSS.css">
    <title>Training</title>
  </head>
  <body>
    <h1>Training</h1>
    <!--Credit to https://codepen.io/nocni_sovac/pen/vYGqvJK for HTML, CSS for hover buttons used in numerous programs-->
    <!--This button is used in login, signup, information, nutrition, training, additional resources pages -->

    <div class="trainingButtons">
      <div class="button2" onclick="window.location.href = 'doExercise';">
        How to Exercise!
      </div>
      <br>
      <br>
      <br>

      <div class="button2" onclick="window.location.href = 'program';">
        Sample Training Program
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="button2" onclick="window.location.href = 'home';">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        HOME
      </div>
      <br>
  </div>
  </body>
</html>
