<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/auxoCSS.css">
    <title>Oh no!</title>
  </head>
  <body>
    <h1>Oops! Something went wrong.</h1>
    <p>Something went wrong with your log in or sign up attempt.</p>
    <p>You must enter all fields to sign-up.</p>
    <p>Remember, if you are setting up a password, it must: </p>
    <ul>
      <li> Include at least 8 characters </li>
      <li> Include at least 1 number </li>
      <li> Be the same as the password you re-entered </li>
    </ul>
    <p>If you tried to log in, please enter valid credentials </p>

    <h2>Log In </h2>
    <div class="button2" onclick="window.location.href = 'login';">
      Log In
    </div>
    <br>
    <br>

    <h2>Sign Up</h2>
    <div class="button2" onclick="window.location.href = 'signup';">
      Sign Up
    </div>
  </body>
</html>
<!-- Where the user is sent to if they don't satisfy sign up or log in requirements -->
